body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
}
  
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
  
.main {
    display: flex;
    flex: 1;
    overflow: hidden;
}
  
.content {
    flex: 1;
    overflow-y: auto;
}

.container, .content-area{
    padding-top:30px !important;
    padding-bottom:30px !important;
}

.sidebar {
    width: 240px;
    background-color: #0f172a;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .nav-link {
    color: white;
}
.sidebar .nav-link:hover {
    background-color: #1e293b;
}

.sidebar .nav-link.active {
    background-color: #1e293b;
}
.navbar {
    background-color: #10b981;
}

.sidebar.active {
    transform: translateX(0);
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.page-link{
    color:#10b981 !important;
}

.page-item.active .page-link{
    color:#FFFFFF !important;
    background-color:#10b981 !important;
    border:1px solid #10b981;
}

.select2-container {
    position: relative;
    width: 100%;
    font-family: sans-serif;
}

  
.select2-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 0.375rem 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    z-index: 1000;
}
  
.select2-search {
    border: none;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
}
  
.select2-results {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}
  
.select2-option {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}
  
.select2-option:hover {
    background-color: #f8f9fa;
}
  
  /* Show dropdown on focus */
/* .select2-container:focus-within .select2-dropdown {
    display: block;
} */

.image-preview-wrapper {
    max-width: 100%;
    width:400px;
    max-width:120px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.table-compact {
    font-size: 12px !important;
    border-collapse: collapse !important;
}

.table-compact th,
.table-compact td {
    padding: .75em .75em !important;
    font-size: .95rem !important;
    font-weight:500;
    line-height: 1.2 !important;
    vertical-align: middle !important;
}

.table-compact thead tr th{
     border-bottom:none !important;
     font-weight:bold;
     color:var(--bs-dark);
}

.table-compact tbody tr:last-child td{
    border-bottom:none !important;
}

.table-compact tr {
    margin-bottom: 4px !important;
}

.table-compact td::before {
    font-size: .95rem !important;
    line-height: 1.2 !important;
}
.table-compact td .image-preview-wrapper {
   width:70px;
}

.zero-dimension {
    width:0px !important;
    height:0px !important;
}


#attendance_table thead tr th {
    font-size: 0.95rem;
    padding: 1rem 2rem !important;
}

#attendance_table tbody tr td{
    padding:0 !important;
    font-size: 0.75rem;
    position: relative; 
}

#attendance_table tbody tr td:first-child{
    font-size: 0.8rem;
    background-color: #f9f9f9 !important;
    position: sticky;
    left:-1px;
    z-index: 2;
}

#attendance_table td .edit-btn{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.65rem;
    pointer-events:none;
    cursor: none;
    color:#e0e0e0;
}

#attendance_table td .edit-btn.active{
  pointer-events:auto;
  cursor: pointer;
  color: #0d6efd;
}

#attendance_table tr.no-data td{
    padding:1.5rem !important;
}

@media (max-width: 992px) {
    .sidebar {
        position: fixed;
        z-index:    1050;
        transform:  translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
}


@media only screen and (max-width: 768px) {
    
    .container, .content-area{
        padding-top:15px !important;
        padding-bottom:100px !important;
    }

    .mobile-stacked-table {
        width:100% !important;
        padding:0px 20px;
    }
    
    .mobile-stacked-table thead,
    .mobile-stacked-table tbody,
    .mobile-stacked-table th,
    .mobile-stacked-table td,
    .mobile-stacked-table tr {
      display: block !important;
    }

    .mobile-stacked-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .mobile-stacked-table tr {
        border: 1px solid #ccc !important;
        margin-bottom: 8px;
        border-radius: 6px !important;
    }

    .mobile-stacked-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
        white-space: normal !important;
        text-align: right !important;
    }
    .mobile-stacked-table tbody tr:last-child td{
        border-bottom: 1px solid #eee !important;
    }

    .mobile-stacked-table td::before {
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        width: 45% !important;
        padding:15px 20px !important;
        white-space: nowrap !important;
        text-align: left !important;
        font-weight: bold !important;
        content: attr(data-title) !important;
    }
    
    .mobile-stacked-table td, .mobile-stacked-table td::before {
        padding-top:20px !important;
        padding-bottom:20px !important;
    }

    .mobile-stacked-table tr td:first-child .image-aligner{
        display: flex;
        justify-content:end;
    }
    .mobile-stacked-table tr td:first-child  .image-preview-wrapper {
        width:  120px;
        height: 120px;
    }

    .mobile-stacked-table tr td:last-child{
        border-bottom:none !important;
    }
    .mobile-stacked-table tr{
        border-top-color:var(--bs-primary) !important;
        border-top-width:3px !important;
        margin-bottom:50px !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .mobile-stacked-table tr:last-child{
        border-bottom:0px !important;
    }

    .mobile-stacked-table tr.no-data td:last-child{
        position:static !important;
        padding-left:0 !important;
        text-align:center !important;
    }

    .shadow-none-sm{
         box-shadow:none !important;
         border:none;
    }

    .bg-none-sm{
        background:none !important;
     }

     #attendance_table td{
        padding-top:0px !important;
        padding-bottom:0px !important;
    }

    #attendance_table tr td:first-child
   
    {
        position: static !important;
        padding-top:20px !important;
        padding-bottom:20px !important;
        text-align:center !important;
        font-size:1rem !important;
    }
    #attendance_table tr td:last-child{
        padding-bottom:15px !important;
    }
    #attendance_table td .edit-btn{
        top:50% !important;
        right:20px;
    }
}